* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
html, body {
    background-color: blanchedalmond;
}
header {
    background-color: aquamarine    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
h1  {
    font-size: 4em;
    margin-left: 50px;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav > a {
    display: none;
}
/* nav ul {
    display: none;
} */
.ev {
    font-size: 4rem;
    color: blue;
    display: flex;

}

nav ul li a {
    padding: 10px 15px;
    color: darkblue;
    font-size: 1.5em;
    /* border: 1px solid black; */
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 5px;
    margin-right: 2px;
}
nav {
    align-self: flex-end;
    margin-bottom: 10px;
}
nav ul li a:hover {
    background-color: blueviolet;
}
@media(max-width: 768px) { header {
flex-direction: column;}
nav {align-self: unset;}
nav ul li {
    flex-basis: 50%;
}
}
@media(max-width: 576px) {
    ul {flex-wrap: wrap;}
    nav ul li{
        flex-basis: 50%;
    }
    nav > a {
        display: block;
    }
nav ul {
    display: none;
}
nav a:hover ~ul, ul:hover {
    display: block;
    position: relative;
}

}